p {
    font-family: Arial;
  }

  #tahoma {
    font-family: Tahoma;
    font-weight: bold;
  }

  #sale-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
  }
  #sale-day {
    font-style: italic;
    margin-top: 0px;
    color: red;
  }

  .verdana {
    font-family: Verdana;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #course-title {
    font-weight: bold;
    font-size: 16px;
  }
  #course-type {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
  }
  #course-desc {
    font-size: 14px;
    width: 260px;
    margin-bottom: 18px;
  }
  #get-button {
    background-color: green;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }

  #shop-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  #shop-desc {
    text-align: center;
    font-size: 14px;
  }
  #shop-more {
    text-align: center;
    font-size: 14px;
    color: blue;
    cursor: pointer;
  }
  #shop-more:hover {
    text-decoration: underline;
  }

  .mac {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #mac-new {
    color: red;
    font-size: 12px;
    margin-bottom: 3px;
  }
  #mac-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
  }
  #mac-desc {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
  }
  #mac-price {
    font-size: 14px;
    margin-bottom: 10px;
  }
  #mac-buy {
    background-color: rgb(28, 123, 255);
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
  }

  #price-val {
    font-size: 24px;
    margin-bottom: 6px;
  }
  #price-type {
    font-size: 14px;
    color: rgb(107, 107, 107);
  }
  #price-change {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 14px;
    color: green;
  }
  #price-after {
    margin-top: 6px;
    font-size: 14px;
    color: gray;
  }

  #tweet-handler {
    font-weight: bold;
    margin-bottom: 4px;
  }
  #tweet-text {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 500px;
  }