.login {
    display: block;
}

.survey{
    display: inline-block;
    width: 260px;
    vertical-align: middle;
}

.google {
    width: 500px;
    text-align: center;
}

#logo {
    height: 60px;
    width: 200px;
    object-fit: cover;
    object-position: center;
    
}
#google-search {
    height: 30px;
    width: 400px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 0px 10px rgba(174, 174, 174, 0.817);
    border-radius: 20px;
    text-indent: 10px;
    margin-bottom: 20px;
}
.google-button {
    background-color: rgb(229, 229, 229);
    border: none;
    border-radius: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;
}

.input1 {
    height: 30px;
    width: 100px;
    border-radius: 6px;
    border: solid;
    border-width: 1px;
    border-color: lightgray;
    text-indent: 6px;
    margin-bottom: 6px;
}
#input-email {
    width: 212px;
    display: block;
}
#sign-button {
    color: white;
    font-weight: bold;
    background-color: rgb(16, 91, 220);
    border: none;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    padding-right: 85px;

}

#uber-title {
    font-size: x-large;
    margin-bottom: 16px;
}
.uber-input {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 30px;
    width: 260px;
    border: none;
    background-color: rgb(228, 228, 228);
    color: rgb(84, 84, 84);
    text-indent: 10px;
}
.uber-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    margin-top: 20px;
}

#req-button {
    background-color: black;
    color: white;
}

#sch-button {
    background-color: rgb(228, 228, 228);
    color: black;
}
